.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.square {
  width: 400px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  padding: 2vh;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  color: #fff;
  margin-bottom: 10px;
}

input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%;
  align-self: center;
}

button:hover {
  background-color: #45a049;
}

.result {
  color: #fff;
  margin-top: 20px;
  text-align: center;
}